<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--PRODUZIONE-->
    <!--<add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=sa;password=Password15;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--SVILUPPO-->
    <!--<add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.118;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=sa;password=test;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.129.139;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=sa;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="giornivalidita" value="3"/>
    <!--0 = left; 1 = right; 2 = denied-->
    <add key="versoentrata" value="0"/>
    <!--<add key="readerip" value="0"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
