<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="Presentation.SVC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
	</sectionGroup>
  </configSections>
  <connectionStrings>
   <!--PRODUZIONE-->
    <!--<add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=sa;password=Password15;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <!--SVILUPPO
   <add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=sa;password=Nellacasa1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!-- nuovo sviluppo
    <add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.129.53;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=castello;password=castello;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.129.139;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=sa;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>

  <appSettings>
	<!--Sviluppo-->
	<add key="applicationTheme" value="Office_SilverTheme"/>
	<add key="usePrinter" value="true"/>
  <add key="useDummyPrinter" value="false"/>
	<add key="windTopMost" value="false"/>
  <!--PRODUZIONE-->
  <!--<add key="onlinepaymentwrapperserviceurl" value="http://10.10.10.1/FSP.Scavi.Pagamento-Visite/PaymentServiceBO.svc"/>-->
  <!--COLLAUDO-->
  <!--<add key="onlinepaymentwrapperserviceurl" value="http://localhost/SCV_FSP_PaymentServiceBO/PaymentServiceBO.svc"/>-->
  <!--SVILUPPO-->
  <add key="onlinepaymentwrapperserviceurl" value="http://localhost/SCV_FSP_PaymentServiceBO/PaymentServiceBO.svc"/>
	<add key="enableonlinepayment" value="false"/>
  <add key="enableonlinepaymentemailsending" value="false"/>
  <add key="excelreportfolder" value="C:\GestioneVisite\"/>
  <add key="sentemailfoldername" value="Posta inviata"/>
  <add key="smtpaddress" value="museo@odescalchi.it"/>
 
  </appSettings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
