<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <!--PRODUZIONE-->
    <!--<add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=sa;password=Password15;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--SVILUPPO-->
    <add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Castello_Odescalchi_Bracciano_Visite;user id=sa;password=Nellacasa1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.net.vodafone.it"
                 enableSsl="false"
                 port="25"
                 defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>

