<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<add name="IN_VIAEntities" connectionString="metadata=res://*/SCV_EDM.csdl|res://*/SCV_EDM.ssdl|res://*/SCV_EDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.117;initial catalog=UfficioScavi;user id=sa;password=test;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>