<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="logfilepath" value="C:\\Sviluppo\\WPF\\ScvProd\\SCV_FSP_PaymentServiceBO\\ErrorsLogging\\"/>
    <add key="logfilename" value="SCV_FSP_PaymentServiceBO_Log.txt"/>
    <add key="logfilenamebackup" value="SCV_FSP_PaymentServiceBO_Log_Old.txt"/>
    <!--PRODUZIONE-->
    <!--<add key="frontofficeserviceurl" value="http://visite.scavi.va/scavi/rest"/>-->
    <!--COLLAUDO-->
    <!--<add key="frontofficeserviceurl" value="http://visite.scavi-stg.va/scavi/rest"/>-->
    <!--SVILUPPO-->
    <add key="frontofficeserviceurl" value="http://localhost/SCV_FSP_PaymentServiceFO/PaymentServiceFO.svc"/>
   </appSettings>
  <connectionStrings>
    <!--PRODUZIONE-->
    <!--<add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.1;initial catalog=IN_VIA;persist security info=True;user id=in_via_usr;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--COLLAUDO-->
    <!--<add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.1;initial catalog=IN_VIA_ONLINEPAYMENT;persist security info=True;user id=in_via_usr;password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--SVILUPPO-->
    <add name="IN_VIAEntities" connectionString="metadata=res://*/IN_VIA.csdl|res://*/IN_VIA.ssdl|res://*/IN_VIA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.117;initial catalog=IN_VIA_PROD;persist security info=True;user id=sa;password=test;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    
  </connectionStrings>


  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="Default" name="SCV_FSP_PaymentServiceBO.PaymentServiceBO">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="SCV_FSP_PaymentServiceBO.IPaymentServiceBO" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
